data
# Ignore Python bytecode files
*.pyc
*.pyo

# Ignore __pycache__ directories
__pycache__/

audios_processor/*

.DS_Store

.python-version

venv*

audios_processor/missing_audios*
audios_processor/spanish*
src/static/Poemas
src/static/imgs*